<div class="alert alert-success" *ngIf="status == 'Success'">
  Registro completado correctamente,
</div>

<div class="alert alert-danger" *ngIf="status == 'Error'">
  No te has registrado correctamente
</div>

<h3 class="margin-bottom-1x">¿No tengo cuenta? Registrarme</h3>
<p>El registro toma menos de un minuto y le permitirá realizar y publicar adopciones.</p>
<form class="row" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="reg-fn">Nombre</label>
      <input class="form-control" type="text" id="reg-fn" name="Name" #Name="ngModel" [(ngModel)]="user.Name" required>
      <span *ngIf="!Name.valid && Name.touched">
        * El nombre es obligatorio
      </span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="reg-ln">Apellido</label>
      <input class="form-control" type="text" id="reg-ln" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" required>
      <span *ngIf="!LastName.valid && LastName.touched">
        * El email es obligatorio
      </span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="reg-email">Correo electrónico</label>
      <input class="form-control" type="email" id="reg-email" name="Email" #Email="ngModel" [(ngModel)]="user.Email" required>
      <span *ngIf="!Email.valid && Email.touched">
        * El email es obligatorio
      </span>
    </div>
  </div>
  <!-- NECESITA MODELO EN MODELS Y CAMBIAR SCHEMA BASE DE DATOS
  <div class="col-sm-6">
    <div class="form-group">
      <label for="reg-phone">Teléfono</label>
      <input class="form-control" type="text" id="reg-phone" required>
    </div>
  </div>
-->
  <div class="col-sm-6">
    <div class="form-group">
      <label for="reg-pass">Contraseña</label>
      <input class="form-control" type="password" id="reg-pass" name="Password" #Password="ngModel" [(ngModel)]="user.Password"
        required>
      <span *ngIf="!Password.valid && Password.touched">
        * El password es obligatorio
      </span>
    </div>
  </div>

  <!-- HAY QUE HACER VALIDACION DEL PASSWORD DE ARRIBA CON ESTE NO SE COMO
  <div class="col-sm-6">
    <div class="form-group">
      <label for="reg-pass-confirm">Confirmar contraseña</label>
      <input class="form-control" type="password" id="reg-pass-confirm" required>
    </div>
  </div>
-->

  <div class="col-12 text-center text-sm-right">
    <button class="btn btn-primary margin-bottom-none" type="submit" value="{{title}}" [disabled]="!registerForm.form.valid">Registrarme</button>
  </div>
</form>