<app-title [title]="title" [breadcrumbs]="breadcrumbs"></app-title>

<div align="center" class="container">
    <div class="col-lg-12">
        <table class="table table-hover">
            <thead class="thead-default">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.Name}} {{user.LastName}}</td>
                    <td>{{user.Email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>