<br>
<div class="container" align="center">
  <div class="animal-box col-lg-12" *ngIf="animal">

    <div class="col-lg-4 pull-left">
      <img class="card-img-top" src="{{url + 'get-Image-Animal/' + animal.Image}}" alt="Card image cap">
    </div>

    <div class="card col-lg-8">
      <div class="col-lg-12 pull-left">
        <div class="card-body">
          <h3 class="card-title">{{animal.Name}}</h3>
          <p class="card-text">{{animal.Description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nacio en: {{animal.Year}}</li>
          <li class="list-group-item">Albergue: {{animal.User.Name + ', ' + animal.User.LastName}}</li>
          <li class="list-group-item">Adoptado: {{animal.Adopted}}</li>
          <li class="list-group-item">Tamaño: {{animal.Size}}</li>
          <li class="list-group-item">Especie: {{animal.Especie}}</li>
          <li class="list-group-item">Raza: {{animal.Raza}}</li>
          <li class="list-group-item">
            <button class="btn btn-primary" (click)="goBack()">Volver</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<div class="clearfix"></div>