<div class="col-12">
    <h2>{{title}}</h2>
    <hr>
    <br>

    <div class="row">
        <div class="col-lg-1">
            <h4>Buscar:</h4>
        </div>
        <div class="col-lg-6">
            <input type="text" class="form-control" [(ngModel)]="busqueda" />
        </div>

        <div class="col-lg-3 bg-info text-white" *ngIf="busqueda">
            <strong>Termino de busqueda: {{busqueda}}</strong>
        </div>
    </div>
    <br>

    <table class="table table-hover table table-responsive-sm">
        <thead class="thead-default">
            <tr>
                <th>Imagen</th>
                <th>Name</th>
                <th>Year</th>
                <th>Tamaño</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Adopt status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animals | search: busqueda  ">
                <td style="width:20%;">
                    <img src="{{url + 'get-Image-Animal/' + animal.Image}}">
                </td>
                <td>{{animal.Name}}</td>
                <td>{{animal.Year}}</td>
                <td>{{animal.Size}}</td>
                <td>{{animal.Especie}}</td>
                <td>{{animal.Raza}}</td>
                <td>{{animal.Adopted}}</td>
                <td>
                    <a class="btn btn-sm btn-primary" [routerLink]="['/Animal', animal._id]">Ver </a>
                    <button class="btn btn-sm btn-success" [routerLink]="['/admin-panel/edit',animal._id]">Edit </button>
                    <a class="btn btn-sm btn-danger" data-toggle="modal" href="#myModal-{{animal._id}}" data-backdrop="false">Delete</a>

                    <!--MODAL DE CONFIRMACION DE BORRADO -->
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal-{{animal._id}}">
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        <strong>¿Estas seguro?</strong>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">

                                    <p>¿Estas seguro que deseas borrar a:
                                        <strong>{{animal.Name}}</strong>
                                    </p>
                                    <p>
                                        <strong>Si borras la mascota el cambio sera
                                            <u>irreversible!</u>
                                        </strong>
                                    </p>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteAnimal(animal._id)">Borrar</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>

    </table>
</div>
<div class="clearfix"></div>