<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>{{title}}</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <ng-container *ngFor="let breadcrumb of breadcrumbs">
                    <li *ngIf="breadcrumb != breadcrumbs[0]" class="separator">&nbsp;</li>

                    <li *ngIf="breadcrumb.current;else link">
                        {{breadcrumb.label}}
                    </li>
                    <ng-template #link>
                        <a routerLink="{{breadcrumb.url}}">{{breadcrumb.label}}</a> 
                    </ng-template>
                </ng-container>
            </ul>
            
        </div>  
    </div>
</div>