<app-title [title]="title" [breadcrumbs]="breadcrumbs"></app-title>

<div class="container">

    <div class="col-12">
        <hr>
        <br>

        <div class="row">
            <div class="col-lg-1">
                <h4>Buscar:</h4>
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" [(ngModel)]="busqueda" />
            </div>
            <div class="col-lg-3 bg-info text-white" *ngIf="busqueda">
                <strong>Termino de busqueda: {{busqueda}}</strong>
            </div>
        </div>


        <br>
        <table class="table table-hover table table-responsive-sm">
            <thead class="thead-default">
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Adopt status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let animal of animals">
                    <td>{{animal.Name}}</td>
                    <td>{{animal.Year}}</td>
                    <td>{{animal.Adopted}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" [routerLink]="['/Animal', animal._id]">Ver </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="clearfix"></div>
</div>