<div class="row">
<div class="col-lg-2">
    <h2>{{title}}</h2>
    <hr>
    <br>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
            aria-selected="true" [routerLinkActive]="['active']" [routerLink]="['list']">List</a>

        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
            aria-selected="false" [routerLinkActive]="['active']" [routerLink]="['add']">Add</a>

    </div>
</div>



<div class="col-lg-10">
    <router-outlet></router-outlet>
</div>
<div class="clearfix"></div>