<app-title [title]="title" [breadcrumbs]="breadcrumbs"></app-title>
<div class="About">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum blandit turpis vel egestas. Ut tincidunt ante
        vitae ante efficitur, ut pharetra purus pellentesque. Maecenas arcu turpis, egestas ac lorem a, facilisis pharetra
        dolor. Integer ex velit, egestas sed fermentum suscipit, dictum eget ligula. Donec gravida nibh vitae finibus pulvinar.
        Nam eget elit viverra, posuere est hendrerit, rhoncus lorem. Quisque condimentum porttitor elementum. Aenean scelerisque
        tortor orci, sed tempus augue efficitur quis. Curabitur sodales eros ut pharetra eleifend.</p>
    <br>
    <h2>Visión</h2>
    <p>Nulla sapien leo, mollis non dolor et, consequat sagittis nulla. Sed facilisis mi ac metus pretium pretium. Ut metus
        tortor, placerat eu ante sed, accumsan facilisis sem. Vestibulum blandit iaculis dolor, nec condimentum sapien rutrum
        nec. Nam vitae auctor mi. Aliquam sodales purus tortor, id pharetra felis tristique vel. In venenatis lorem enim,
        vel mollis nulla eleifend eget. Aliquam erat volutpat. Morbi consectetur erat ante, vel rutrum lacus sagittis id.
        Aliquam tincidunt vulputate libero ac bibendum. Sed convallis sodales sollicitudin. Curabitur volutpat nibh aliquet
        ipsum vulputate, vel hendrerit tortor sagittis. Nam ut nulla eget urna interdum sagittis. Nunc augue leo, posuere
        id tempor ut, ultricies id neque. Aliquam felis diam, aliquam quis molestie et, pellentesque id ex. Integer in ex
        bibendum, auctor purus a, hendrerit eros.</p>
    <br>
    <h2>Misión</h2>
    <p>Nullam elementum, tortor sit amet egestas laoreet, lorem elit hendrerit nulla, volutpat ullamcorper enim justo quis dolor.
        Pellentesque vitae rhoncus nisl, eu vestibulum nunc. Nulla elementum risus ante, at tempus enim fringilla et. Donec
        sed diam lobortis, tincidunt nulla ac, lobortis massa. Pellentesque non accumsan nibh, nec ultrices quam. Etiam eu
        aliquam ligula. Duis eu pulvinar libero, sit amet maximus nibh. Maecenas consectetur viverra ullamcorper. Donec ex
        orci, dapibus at volutpat eu, fringilla sed risus. Cras a tempor urna, ut ornare erat. Quisque ac arcu commodo, tincidunt
        orci ultricies, condimentum augue. Vivamus volutpat diam eget lacus volutpat pulvinar. Aenean consectetur neque in
        scelerisque commodo.</p>
</div>