<app-title [title]="title" [breadcrumbs]="breadcrumbs"></app-title>

<div class="container padding-bottom-3x mb-1">
    <div class="row">
        <!-- Animal Gallery-->
        <div class="col-md-6">

            <div class="col-lg-4 pull-left">
                <img class="card-img-top" src="{{url + 'get-Image-Animal/' + image}}" alt="Card image cap">
            </div>
        </div>
        <!-- Animal Info-->
        <div class="col-md-6">
            <div class="padding-top-2x mt-2 hidden-md-up"></div>
            <!--<div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>-->
            <!--</div><span class="text-muted align-middle">&nbsp;&nbsp;4.2 | 3 customer reviews</span>-->
            <h2 class="padding-top-1x text-normal">{{animal?.Name}}</h2>
            <!--<span class="h2 d-block"></span><del class="text-muted text-normal">$68.00</del>&nbsp; $47.60</span>-->
            <p>{{animal?.Description}}</p>
            <div class="pt-1 mb-2">
                <span class="text-medium">Año de nacimiento:</span> {{animal?.Year}}</div>


            <hr class="mb-3">
            <div class="d-flex flex-wrap justify-content-between">
                <div class="entry-share mt-2 mb-2">
                    <span class="text-muted">Share:</span>
                    <div class="share-links">
                        <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="socicon-facebook"></i>
                        </a>
                        <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="socicon-twitter"></i>
                        </a>
                        <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                            <i class="socicon-instagram"></i>
                        </a>
                        <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +">
                            <i class="socicon-googleplus"></i>
                        </a>
                    </div>
                </div>
                <div class="sp-buttons mt-2 mb-2">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <a class="btn btn-sm btn-success" data-toggle="modal" *ngIf="identity" href="#myModal-{{animal?._id}}" data-backdrop="false">Adoptar</a>

                    <!--MODAL DE CONFIRMACION DE BORRADO -->
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal-{{animal?._id}}">
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        <strong>¿Estas seguro?</strong>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">

                                    <p>¿Estas seguro que deseas Adoptar a:
                                        <strong>{{animal?.Name}}</strong>
                                    </p>
                                    <p>
                                        <strong>Si adoptas la mascota deberas
                                            <u>amarla y cuidarla</u> mucho, recuerda que son mascotas que vienen de un trato
                                            inadecuado por sus anteriores dueños, por lo tanto le daremos un seguimiento
                                            al cuido que les des a tu nueva mascota.


                                        </strong>
                                    </p>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-success" routerLink="myadoptions" data-dismiss="modal" (click)="AdoptAnimal(animal._id)">Adoptar</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>