<app-title [title]="title" [breadcrumbs]="breadcrumbs"></app-title>

<div class="container">
  <div class="col-lg-12">
    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="col-lg-3 pull-left">
        <div class="image_for_edit" align="center" *ngIf="user.Image && user.Image != 'null'">
          <img src="{{url + 'getImageFile/' + user.Image}}" />
        </div>
        <p align="center">
          <label>Imagen de perfil</label>
          <br>
          <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
        </p>
      </div>


      <div class="col-lg-9 pull-left">
        <p>
          <label>Nombre</label>
          <input type="text" name="Name" #Name="ngModel" [(ngModel)]="user.Name" class="form-control" required />
          <span *ngIf="!Name.valid && Name.touched">
            * El nombre es obligatorio
          </span>
        </p>

        <p>
          <label>Apellido</label>
          <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" class="form-control" required/>
          <span *ngIf="!LastName.valid && LastName.touched">
            * El email es obligatorio
          </span>
        </p>

        <p>
          <label>Email</label>
          <input type="email" name="Email" #Email="ngModel" [(ngModel)]="user.Email" class="form-control" required />
          <span *ngIf="!Email.valid && Email.touched">
            * El email es obligatorio
          </span>
        </p>

        <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!userEditForm.form.valid" />

      </div>
    </form>

  </div>
</div>
<div class="clearfix"></div>