<app-title align="center" [title]="title" [breadcrumbs]="breadcrumbs"></app-title>

<div class="container padding-bottom-3x mb-2">
  <div class="row">
    <div class="col-md-6">
      <app-login-form></app-login-form>
    </div>
    <div class="col-md-6">
      <div class="padding-top-3x hidden-md-up"></div>
      <app-register></app-register>
    </div>
  </div>
</div>