<div class="offcanvas-container" id="adoption-categories">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title">Categorias</h3>
  </div>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li class="has-children">
        <span>
          <a>Perros</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a routerLink="adoptions">Callejeros</a>
          </li>
          <li>
            <a routerLink="adoptions">Perdidos</a>
          </li>
          <li>
            <a routerLink="adoptions">Cachorros</a>
          </li>
          <li>
            <a routerLink="adoptions">Ancianos</a>
          </li>
          <li>
            <a routerLink="adoptions">Ver todos</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a>Gatos</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a routerLink="adoptions">Callejeros</a>
          </li>
          <li>
            <a routerLink="adoptions">Perdidos</a>
          </li>
          <li>
            <a routerLink="adoptions">Cachorros</a>
          </li>
          <li>
            <a routerLink="adoptions">Ancianos</a>
          </li>
          <li>
            <a routerLink="adoptions">Ver todos</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a>Otros animales</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a routerLink="adoptions">Caballos</a>
          </li>
          <li>
            <a routerLink="adoptions">Pericos</a>
          </li>
          <li>
            <a routerLink="adoptions">Hamsters</a>
          </li>
          <li>
            <a routerLink="adoptions">Ver todo</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>


<div class="offcanvas-container" id="mobile-menu">
  <!-- EN CASO DE NO ESTAR LOGEADO DESDE MOVIL-->
  <a class="account-link" href="#" *ngIf="!identity">
    <a class="btn btn-success btn-sm btn-block" routerLink="login">Iniciar Sesión</a>
  </a>
  <!-- EN CASO DE ESTAR LOGEADO DESDE MOVIL-->
  <a class="account-link" href="#" *ngIf="identity">
    <div class="user-ava">
      <img *ngIf="!identity.fbUser" src="{{url + 'getImageFile/' + identity.Image}}" alt="Nombre de usuario">
      <img *ngIf="!identity" src="identity.fbImage" alt="Nombre de usuario">
    </div>
    <div class="user-info">
      <h6 class="user-name">{{identity.Name}} {{identity.LastName}}</h6>
      <span class="text-sm text-white opacity-60">Usuario administror</span>
      <a class="btn btn-info btn-sm btn-block" routerLink="myprofile">Mi perfíl</a>
      <a class="btn btn-info btn-sm btn-block" routerLink="myadoptions">Mis adopciones</a>
      <a class="btn btn-warning btn-sm btn-block" routerLink="admin-panel" *ngIf="identity.Role == 'ROLE_ADMIN' || identity.Role == 'ROLE_HOME_CARE'">Panel Administrador</a>
      <a class="btn btn-danger btn-sm btn-block" (click)="Logout()">
        <i class="icon-unlock"></i> Cerrar sesión</a>
    </div>
  </a>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li class="has-children">
        <span>
          <a routerLink="adoptions">
            <span>Adopciones</span>
          </a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a routerLink="adoptions">Todos los animales</a>
          </li>
        </ul>
      </li>


      <li>
        <a routerLink="homecares">Sociedades sin fines de lucro </a>
      </li>


      <li>
        <a routerLink="about"> Acerca de </a>
      </li>

    </ul>
  </nav>
</div>

<!-- Topbar-->
<div class="topbar">
  <div class="topbar-column">
    <a class="hidden-md-down" href="mailto:adoptapp@gmail.com">
      <i class="icon-mail"></i>&nbsp; adoptapp@gmail.com</a>
    <a class="hidden-md-down" href="tel:(+50625234000)">
      <i class="icon-bell"></i>&nbsp; (506) 2523 4000</a>
    <a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank">
      <i class="socicon-facebook"></i>
    </a>
  </div>
</div>


<!-- Navbar-->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="navbar navbar-sticky">
  <!-- Search-->
  <form class="site-search" method="get">
    <input type="text" name="site_search" placeholder="Buscar...">
    <div class="search-tools">
      <span class="clear-search">Limpiar</span>
      <span class="close-search">
        <i class="icon-cross"></i>
      </span>
    </div>
  </form>
  <div class="site-branding">
    <div class="inner">
      <a class="offcanvas-toggle cats-toggle" href="#adoption-categories" data-toggle="offcanvas"></a>
      <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
      <a class="site-logo" routerLink="">
        <img src="../assets/vendor/images/logo.png" alt="Adoptapp">
      </a>
    </div>
  </div>
  <!-- Main Navigation-->
  <nav class="site-menu">
    <ul>
      <li>
        <a routerLink="">
          <span>Principal</span>
        </a>
      </li>
      <li>
        <a>
          <span>Adopciones</span>
        </a>
        <ul class="sub-menu">
          <li>
            <a routerLink="adoptions">Callejeros</a>
          </li>
        </ul>
      </li>
      <li>
        <a>
          <span>Organizaciones</span>
        </a>
        <ul class="sub-menu">
          <li>
            <a routerLink="homecares">Sociedades sin fines de lucro </a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="about">
          <span>Acerca de</span>
        </a>
      </li>

    </ul>
  </nav>
  <!-- Toolbar-->
  <div class="toolbar">
    <div class="inner">
      <div class="tools">

        <div class="account">
          <a></a>
          <i class="icon-head"></i>
          <!-- ESTO ES LO QUE VA A VER EL USUARIO EN CASO DE ESTAR LOGGED IN! -->
          <ul class="toolbar-dropdown" *ngIf="identity">
            <li class="sub-menu-user">
              <div class="user-ava">
                <img src="{{identity.fbUser ? identity.fbPicture : url + 'getImageFile/' + identity.Image}}" alt="Nombre de usuario">
              </div>
              <div class="user-info">
                <h6 class="user-name">{{identity.Name }} {{identity.LastName}}</h6>

                <ng-container *ngIf="!identity">
                  <h6 class="user-name">Usuario</h6>
                </ng-container>

                <span *ngIf="!identity" class="text-xs text-muted">Usuario anonimo</span>
                <span *ngIf="identity && identity.Role == 'ROLE_ADMIN'" class="text-xs text-muted">Administrador</span>
                <span *ngIf="identity && identity.Role != 'ROLE_ADMIN'" class="text-xs text-muted">Usuario</span>
              </div>
            </li>
            <li>
              <a *ngIf="identity" routerLink="myprofile">Mi perfil</a>
            </li>
            <li>
              <a routerLink="myadoptions">Mis adopciones</a>
            </li>
            <li *ngIf="identity.Role == 'ROLE_ADMIN' || identity.Role == 'ROLE_HOME_CARE'">
              <a routerLink="admin-panel">Panel Administrador</a>
            </li>
            <li class="sub-menu-separator"></li>
            <li><a>Cambiar aspecto</a></li>

            <li class="pull-left">
              <a (click)="CambiaColor(Colors[0])">
                <svg width="20" height="20">
                  <circle cx="10" cy="10" r="10" stroke="Colors[0]" stroke-width="4" [style.fill]=Colors[0] />
                </svg>
              </a>
            </li>
            <li class="pull-left">
              <a (click)="CambiaColor(Colors[1])">
                <svg width="20" height="20">
                  <circle cx="10" cy="10" r="10" stroke="Colors[1]" stroke-width="4" [style.fill]=Colors[1]/>
                </svg>
              </a>
            </li>
            <li class="pull-left">
              <a (click)="CambiaColor(Colors[2])">
                <svg width="20" height="20">
                  <circle cx="10" cy="10" r="10" stroke="Colors[2]" stroke-width="4" [style.fill]=Colors[2] />
                </svg>
              </a>
            </li>
            <div class="clearfix"></div>



            <li class="sub-menu-separator"></li>
            <li>
              <a (click)="Logout()">
                <i class="icon-unlock"></i>Cerrar sesión</a>
            </li>
          </ul>
          <!-- ESTO ES LO QUE VA A VER EL USUARIO EN CASO DE NOOO ESTAR LOGGED IN! -->
          <ul class="toolbar-dropdown" *ngIf="!identity">
            <li>
              <a routerLink="login">Iniciar Sesión</a>
            </li>
            <li>
              <a routerLink="login">Registrarse</a>
            </li>
          </ul>
        </div>
        <div class="search">
          <i class="icon-search"></i>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">

  <ng-container *ngFor="let alert of alerts">
    <div class="alert alert-{{alert.type}} alert-dismissible fade show text-center margin-bottom-1x">
      <span class="alert-close" data-dismiss="alert"></span>
      <i class="icon-bell"></i>&nbsp;&nbsp;
      <strong>Atención:</strong> {{alert.message}} </div>
  </ng-container>

  <router-outlet></router-outlet>

  <!-- Site Footer-->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- Contact Info-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">Contáctenos</h3>
            <p class="text-white">Teléfono: (506) 2523 4000</p>
            <ul class="list-unstyled text-sm text-white">
              <li>
                <span class="opacity-50">Entre semana:</span>9.00 am - 5.00 pm</li>
              <li>
                <span class="opacity-50">Sabados:</span>10.00 am - 4.00 pm</li>
            </ul>
            <p>
              <a class="navi-link-light">E-mail: adoptapp@gmail.com</a>
            </p>

          </section>
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- About Us-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">Acerca de</h3>
            <ul>
              <li>
                <a routerLink="about">Acerca de</a>
              </li>
              <li>
                <a routerLink="about">Misión</a>
              </li>
              <li>
                <a routerLink="about">Visión</a>
              </li>
            </ul>
          </section>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Account / Shipping Info-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">Páginas</h3>
            <ul>
              <li>
                <a *ngIf="identity" routerLink="myprofile">Mi perfíl</a>
              </li>
              <li>
                <a routerLink="adoptions">Buscar adopciones</a>
              </li>
              <li>
                <a routerLink="homecares">Ver organizaciones</a>
              </li>
              <li *ngIf="identity">
                <a (click)="Logout()">Cerrar sesión</a>
              </li>
            </ul>
          </section>
        </div>
      </div>

      <!-- Copyright-->
      <p class="footer-copyright">Desarrollado con
        <i class="icon-heart text-danger"></i>
        <a href="#" target="_blank">&nbsp;por Yelko Carvajal - David Cyrman - Juan Pablo Altamirano</a>
      </p>
    </div>
  </footer>
</div>