<div class="col-10">
    <h2>{{title}}</h2>
    <hr>
    <div class="alert alert-success" *ngIf="status == 'Success'">
        Se creo la mascota correctamente.
    </div>

    <div class="alert alert-danger" *ngIf="status == 'Error'">
        No se pudo crear la mascota
    </div>

    <form #animalCreateForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="col-lg-4 pull-left">
            <div align="center" class="image_for_edit" *ngIf="animal.Image && animal.Image != 'null'">
                <img style="width:50%" src="{{url + 'get-Image-Animal/' + animal.Image}}" />
            </div>
        </div>
        <div class="col-lg-8 pull-left">
            <p>
                <label>Nombre</label>
                <input type="text" name="Name" #Name="ngModel" [(ngModel)]="animal.Name" class="form-control" required />
                <span *ngIf="!Name.valid && Name.touched">
                    * El nombre es obligatorio
                </span>
            </p>

            <p>
                <label>Descripcion</label>
                <textarea name="Description" #Description="ngModel" [(ngModel)]="animal.Description" class="form-control"></textarea>
            </p>

            <p>
                <label>Año de nacimiento</label>
                <input type="number" name="Year" #Year="ngModel" [(ngModel)]="animal.Year" class="form-control" />
            </p>


            <p>
                <label>Especie</label>
            </p>
            <div class="form-group">

                <select class="form-control" name="Especie" #Especie="ngModel" [(ngModel)]="animal.Especie" required>
                    <option>Perro</option>
                    <option>Gato</option>
                    <option>Ruedor</option>
                    <option>Ave</option>
                    <option>Caballo</option>
                </select>
                <span *ngIf="!Especie.valid && Especie.touched">
                    * La especie es obligatorio
                </span>
            </div>

            <p>
                <label>Tamaño</label>
            </p>
            <div class="form-group">

                <select class="form-control" name="Size" #Size="ngModel" [(ngModel)]="animal.Size" required>
                    <option>XL</option>
                    <option>L</option>
                    <option>M</option>
                    <option>SM</option>
                </select>
                <span *ngIf="!Size.valid && Size.touched">
                    * El tamaño es obligatorio
                </span>
            </div>


            <p>
                <label>Raza</label>
                <input type="text" name="Raza" #Raza="ngModel" [(ngModel)]="animal.Raza" class="form-control" />
            </p>

            <p>
                <label>Subir la imagen de la mascota</label>
                <br>
                <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
            </p>


            <br>
            <div align="center">
                <button class="btn btn-primary" (click)="goBack()">Volver</button>
                <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!animalCreateForm.form.valid" />
            </div>
        </div>
    </form>
</div>
<div class="clearfix"></div>