<div class="alert alert-success" *ngIf="status == 'Success'" align="center">
  Se inicio session correctamente!
</div>

<div class="alert alert-danger" *ngIf="status == 'Error'" align="center">
  Contraseña o usuario invalido!
</div>

<form class="login-box" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row margin-bottom-1x justify-content-md-center">
    <div class="col-xl-5 col-md-6 col-sm-6">
      <a class="btn btn-sm btn-block facebook-btn" (click)="loginWithFacebook()">
        <i class="socicon-facebook"></i>&nbsp;Iniciar con Facebook</a>
    </div>
  </div>
  <h4 class="margin-bottom-1x">O use el siguiente formulario</h4>
  <div class="form-group input-group">
    <input type="email" class="form-control" name="Email" #Email="ngModel" [(ngModel)]="user.Email" required />
    <span class="input-group-addon">
      <i class="icon-mail"></i>
    </span>
  </div>
  <div class="form-group input-group">
    <input type="password" class="form-control" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required />
    <span class="input-group-addon">
      <i class="icon-lock"></i>
    </span>
  </div>
  <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
    <label class="custom-control custom-checkbox">
      <input class="custom-control-input" type="checkbox" checked>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Recordarme</span>
    </label>
    <a class="navi-link" href="account-password-recovery.html">¿Olvido su contraseña?</a>
  </div>
  <div class="text-center text-sm-right">
    <button class="btn btn-primary margin-bottom-none" type="submit" [disabled]="!loginForm.form.valid">Iniciar sesión</button>
  </div>
</form>