<app-title [title]="title" [breadcrumbs]="breadcrumbs"></app-title>

<div class="container padding-bottom-3x mb-1">
  <div class="row">
    <!-- Products-->
    <div class="col-xl-9 col-lg-8 order-lg-2">
      <!-- Shop Toolbar-->
      <div class="shop-toolbar padding-bottom-1x mb-2">
          <span *ngIf="isLoading"> <img style="width: 40px; height: 40px; line-height: 40px;" src="../../assets/vendor/images/loading.gif" alt=""> </span>
        <div class="column">
          <div class="shop-sorting">
            <label for="sorting">Ordenar por:</label>
            <select class="form-control" id="sorting" (change)="changeSort($event)">
              <option value="popularity">Popularidad</option>
              <option value="size">Tamaño</option>
              <option value="age">Edad</option>
              <option value="az" selected>Ordenar de la A a la Z</option>
              <option value="za">Ordenar de la Z a la A</option>
            </select>
            <span class="text-muted">Mostrando:&nbsp;</span>
            <span>1 - 12 items</span>
          </div>
        </div>
      </div>
      <!-- Products Grid-->
      <div class="row">
        <ng-container *ngFor="let animal of animals">
          <div class="col-6 col-sm-4 animal-grid-element">
            <div  class="product-card">
                <a class="product-thumb" routerLink="/adoptions/{{animal._id}}" >
                    <img class="img-thumbnail dog-el-img" alt="Animal"
                      src="{{animal.Image|adoptionimg}}" 
                      onError="this.src='../../assets/vendor/images/doge.jpg';"
                    > 
                </a>
                <h3 class="product-title"><a href="#">{{animal.Year}}</a></h3>
                <h4 class="product-price">{{animal.Name}}</h4>
                <div class="product-buttons">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Me gusta"><i class="icon-heart"></i></button>
                    <a class="btn btn-outline-secondary btn-sm" routerLink="/adoptions/{{animal._id}}">Ver detalle</a>
                </div>
              </div>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <div *ngIf="(!animals || animals.length < 1) && isLoading == false" class="alert alert-primary alert-dismissible fade show text-center margin-bottom-1x col-sm-12">
          <span class="alert-close" data-dismiss="alert"></span>
          <i class="icon-bell"></i>&nbsp;&nbsp;
          <strong>Buenas noticias:</strong> No hay animales sin hogar en esta categoria 
        </div>
      </div>
      <!-- Pagination-->
      <nav class="pagination">
        <div class="column">
          <ul class="pages">
            <li *ngFor="let p of pages" [ngClass]="{'active': p == page }">
              <a (click)="loadFromPage(p)" >{{p}}</a>
            </li>
          </ul>
        </div>
        
      </nav>
    </div>
    <!-- Sidebar          -->
    <div class="col-xl-3 col-lg-4 order-lg-1">
      <aside class="sidebar">
        <div class="padding-top-2x hidden-lg-up"></div>
          <form [formGroup]="form">
            <section class="widget">
                <h3 class="widget-title">Filtrar por Especie</h3>
                <label class="custom-control custom-checkbox d-block">
                  <input type="hidden" formControlName="sort" value="">
                  <input class="custom-control-input" type="checkbox" formControlName="specieDog" >
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Perros&nbsp;
                    <span class="text-muted"></span>
                  </span>
                </label>
                <label class="custom-control custom-checkbox d-block">
                  <input class="custom-control-input" type="checkbox" formControlName="specieCat">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Gatos&nbsp;
                    <span class="text-muted"></span>
                  </span>
                </label>
                <label class="custom-control custom-checkbox d-block">
                  <input class="custom-control-input" type="checkbox" formControlName="specieHorse">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Caballos&nbsp;
                    <span class="text-muted"></span>
                  </span>
                </label>
                <label class="custom-control custom-checkbox d-block">
                  <input class="custom-control-input" type="checkbox" formControlName="specieBird">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Aves&nbsp;
                    <span class="text-muted"></span>
                  </span>
                </label>
              </section>
              <!-- Widget Size Filter-->
              <section class="widget">
                <h3 class="widget-title">Filtrar por tamaño</h3>
                <label class="custom-control custom-checkbox d-block">
                  <input class="custom-control-input" type="checkbox" formControlName="sizeL">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">L&nbsp;
                    <span class="text-muted"></span>
                  </span>
                </label>
                <label class="custom-control custom-checkbox d-block">
                  <input class="custom-control-input" type="checkbox" formControlName="sizeM">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">M&nbsp;
                    <span class="text-muted"></span>
                  </span>
                </label>
                <label class="custom-control custom-checkbox d-block">
                  <input class="custom-control-input" type="checkbox" formControlName="sizeS">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">S&nbsp;
                    <span class="text-muted"></span>
                  </span>
                </label>
              </section>
          </form>
      </aside>
    </div>
  </div>
</div>

