<!-- Hero-->
<section class="fw-section padding-top-10x padding-bottom-10x" style="background-image: url(../../assets/vendor/images/slider/s1.jpg);">
    <div class="container padding-top-2x text-center">
      <h1 class="text-white text-normal mb-2">Ven y salva una vida</h1>
      <h4 class="text-white text-normal opacity-80 mb-4">Queremos hacer mas grande tu familia y tu corazón</h4><a class="btn btn-primary scroll-to" routerLink="adoptions">Ver adopciones</a>
    </div>
  </section>